name: PR - GitHub Teams

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
    paths:
      - "deployments/cpsi/global/iam/core_github_team/**"
      - ".github/workflows/gh-pr.yml"
      - "modules/terraform-github-team/terraform-github-team"
      - "stacks/iam/github_team/**"
      - "ansible-aad/*.yaml"

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  script:
    name: Detect change scope
    runs-on: ubuntu-latest
    outputs:
      only_ansible: ${{ steps.vari.outputs.only_ansible }}
      gh_groups_changed: ${{ steps.vari.outputs.gh_groups_changed }}
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: Add permissions
        run : chmod +x .github/scripts/gh_pr_script.sh
      - name: Run scipt
        id: vari
        env:
         MODE: PR
        run: ./.github/scripts/gh_pr_script.sh

  plan:
    name: Validate Terraform Plan (GitHub Teams)
    needs: script
    if: needs.script.outputs.only_ansible != 'true' || needs.script.outputs.gh_groups_changed == 'true'
    runs-on: ubuntu-latest
    environment: terraform-deployment-1_0-reader
    permissions:
      contents: read
      pull-requests: write
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false
      - name: Echo
        run: echo "Terraform Job triggerred"

      